In [3]:
import pandas as pd
import random
import numpy as np

In [4]:
import json

In [32]:
cd discordtask/d3-dashboard-master/

/Users/paigelee/Desktop/summer2023/jobapps/discordtask/d3-dashboard-master

In [137]:
with open('atlas-chat.json', 'r') as f:
  data = json.load(f)

In [138]:
top_posts = []
for d in data['messages']:
    post = dict()
    post["username"] = d["author"]["name"]
    post["post"] = d["content"]

    # In reactions, 'count' is the number of reactions for a specific emoji
    # Here, we are summing up all the reactions for a post
    post["votes"] = sum([reaction["count"] for reaction in d["reactions"]])

    top_posts.append(post)

In [139]:
top_posts = sorted(top_posts, key=lambda k: k['votes'], reverse=True)

In [147]:
top_posts[20]

{'username': 'helinyu', 'post': 'Hello', 'votes': 1}

In [148]:
# top_post_data = dict()
top_post_data['atlas'] = top_posts[:20]

In [149]:
# Write to JSON:
with open('top_posts.json', 'w') as f:
    json.dump(top_post_data, f)

In [121]:
len(data['messages'])

67775

In [122]:
newdata = []
userDict = dict()
for r in data['messages']:
    userDict.setdefault(r['author']['name'], 0)
    userDict[r['author']['name']]+= 1
    newdata.append({
        'time' : r['timestamp'],
        # 'text' : r['content'],
    })
random.choice(newdata)

{'time': '2023-04-04T21:37:33.77+00:00'}

In [123]:
newdata = []
for user in userDict:
    newdata.append({
        'username' : user,
        'messagesSent' : userDict[user]
    })
newdata.sort(key=lambda x : x['messagesSent'],reverse=True)

In [124]:
# Write to JSON:
with open('gpt4all_leaderboard_data.json', 'w') as f:
    json.dump(newdata, f)

In [63]:
# import json
# with open('dash1/timeAndText.json', 'w') as f:
#     json.dump(newdata, f)

In [99]:
df = pd.DataFrame.from_records(newdata)
df.head()

                            time
0   2023-03-29T20:40:56.32+00:00
1  2023-03-29T20:42:02.129+00:00
2  2023-03-30T04:37:09.715+00:00
3  2023-03-30T04:37:22.931+00:00
4   2023-03-30T15:21:25.78+00:00

In [100]:
len(df)

131

In [101]:
df.dtypes

time    object
dtype: object

In [102]:
df['time'] = pd.to_datetime(df['time'], format="mixed")

In [103]:

# Set the datetime column as the index
df.set_index('time', inplace=True)

# Count the number of messages per day, week, and month
daily_counts = df.resample('D').size()
weekly_counts = df.resample('W').size()
monthly_counts = df.resample('M').size()

# Convert to the expected format:
daily_data = [{"time": str(index.date()), "count": count} for index, count in daily_counts.items()]
weekly_data = [{"time": str(index.date()), "count": count} for index, count in weekly_counts.items()]
monthly_data = [{"time": str(index.date()), "count": count} for index, count in monthly_counts.items()]

# Combine into one object:
data = {"Daily": daily_data, "Weekly": weekly_data, "Monthly": monthly_data}

In [104]:
random.choice(data['Weekly'])

{'time': '2023-05-07', 'count': 19}

In [105]:
# Write to JSON:
with open('atlas_counts.json', 'w') as f:
    json.dump(data, f)